SELECT pc.relname AS table_name, p.polname AS policy_name, p.polroles AS roles, p.polcmd AS command, pg_get_expr(p.polqual, p.polrelid) AS filter_expression FROM pg_policy p JOIN pg_class pc ON p.polrelid = pc.oid WHERE pc.relname = 'records';
